
@{
    ViewData["Title"] = "Alarm triggering an alert";
}

<div class="Vlt-card Vlt-article">
    <h3 class="Vlt-title--icon">
        <svg class="Vlt-teal">
            <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-rocket"></use>
        </svg>
        Alarm triggering an alert
    </h3>

    <form method="post">
        <div class="Vlt-grid">
            <div class="Vlt-col">
                <div class="Vlt-card Vlt-article">
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="from">Select a number to call to simulate the alarm being triggered</label>
                        <div class="Vlt-input">
                            <select name="from">
                                <option value="FR" selected="selected">@ViewData["From.FR"] (France)</option>
                                <option value="UK">@ViewData["From.UK"] (UK)</option>
                            </select>
                        </div>

                        <div class="Vlt-callout Vlt-callout--shoutout">
                            <i></i>
                            <div class="Vlt-callout__content">
                                In real life the call would be triggered by the alarm system. However to avoid abuse of this website, we kindly request that you call one of the numbers above.
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="to">Phone number to call in an emergency</label>
                        <div class="Vlt-input">
                            <input type="text" name="to" placeholder="Please enter the phone number to call in an emergency" />
                        </div>

                        <div class="Vlt-callout Vlt-callout--tip">
                            <i></i>
                            <div class="Vlt-callout__content">
                                Phone numbers must be in the E.164 format
                                <br />
                                e.g. in the UK 447123123456
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <div class="Vlt-input">
                            <input type="submit" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="Vlt-col">
                @{Html.RenderPartial("StatusView"); }
            </div>
        </div>
    </form>
</div>

