
@{
    ViewData["Title"] = "Voice Proxy";
}

<div class="Vlt-card Vlt-article">
    <h3 class="Vlt-title--icon">
        <svg class="Vlt-teal">
            <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-rocket"></use>
        </svg>
        Simple Text to Speech Call
    </h3>

    <form method="post">
        <div class="Vlt-grid">
            <div class="Vlt-col">
                <div class="Vlt-card Vlt-article">
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="from">Sender Phone Number</label>
                        <div class="Vlt-input">
                            <select name="from">
                                <option value="@ViewData["From.FR"]" selected="selected">@ViewData["From.FR"] (France)</option>
                                <option value="@ViewData["From.UK"]">@ViewData["From.UK"] (UK)</option>
                            </select>
                        </div>

                        <div class="Vlt-callout Vlt-callout--shoutout">
                            <i></i>
                            <div class="Vlt-callout__content">
                                For the sender ID to be set, the number must be a Nexmo number. Those two numbers are linked to this demo application so are good to use.
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="to">Recipient Phone Number</label>
                        <div class="Vlt-input">
                            <input type="text" name="to" placeholder="Please enter the phone number to call" />
                        </div>

                        <div class="Vlt-callout Vlt-callout--shoutout">
                            <i></i>
                            <div class="Vlt-callout__content">
                                Phone numbers must be in the E.164 format
                                <br />
                                e.g. in the UK 447123123456
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="text">Message</label>
                        <div class="Vlt-input">
                            <textarea cols="60" rows="3" name="text" placeholder="Please enter the message to be read out to the recipient"></textarea>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <div class="Vlt-input">
                            <input type="submit" value="Call" />
                        </div>
                        <input type="hidden" id="action" name="action" value="talk" />
                    </div>
                </div>
            </div>
            <div class="Vlt-col">
                @{Html.RenderPartial("StatusView"); }
            </div>
        </div>
    </form>
</div>

