<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="http://schema.org/Article">
<head>

    <meta charset="UTF-8">
    <title>Nexmo PSE Demo - @ViewData["Title"]</title>

    <!-- Replace the following path with the path to your Volta package -->
    <link rel="stylesheet" href="~/css/volta.min.css">

    <!-- This is only needed for code snippet so you can remove it if you don't need them -->
    <!-- If you do, you'll have to replace the following path with the path to your Volta package -->
    <link rel="stylesheet" href="~/css/addons/volta-prism.css">

    <!-- Replace the following path with the path to your Volta package -->
    <link rel="stylesheet" href="~/css/volta-templates.min.css">


    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
</head>
<body class="Vlt-template Vlt-template--sidenav Vlt-template--header">

    <header class="Vlt-header">
        <a href="#" class="Vlt-header__logo">
            <img class="Vlt-M-plus" src="~/images/logos/vonage-logo.svg">
            <img class="Vlt-S-only" src="~/images/logos/vonage-logo--collapsed.svg">
        </a>
        <div class="Vlt-header__menu">
            <ul class="Vlt-tabs__header">
                <li class="Vlt-tabs__link Vlt-tabs__link_active"><a asp-action="index" asp-controller="home">Home</a></li>
                <li class="Vlt-tabs__link"><a asp-action="index" asp-controller="registration">2FA</a></li>
                <li class="Vlt-tabs__link"><a asp-action="index" asp-controller="messaging">Messaging</a></li>
                <li class="Vlt-tabs__link"><a href="http://jon.nexmodemo.com/vstitchapp/index.html">In-App Messaging</a></li>
                <li class="Vlt-tabs__link"><a href="https://tokbox-reference-apps.herokuapp.com">Video</a></li>
            </ul>
        </div>
        @*TODO: Implement call action with VAPI*@
        @*<div class="Vlt-header__menu Vlt-header__menu--right">
                <a href="#" class="Vlt-btn Vlt-btn--secondary Vlt-btn--app">Something</a>
            </div>*@
    </header>

    <aside id="Vlt-sidenav" class="Vlt-sidenav Vlt-sidenav--light">
        <!-- NOTE: the following script is a hacky solution to maintain the (un)collapsed state of the menu -->
        <!-- You can remove it if you're using a framework or you have an alternative way to achieve this -->
        <script>
loadMenu();
           function loadMenu() {
              if(localStorage.getItem('menuCollapse')) {
                $('#Vlt-sidenav .Vlt-sidemenu__trigger_active').removeClass('Vlt-sidemenu__trigger_active');
                $('#Vlt-sidenav').addClass('Vlt-sidenav--collapsed');
              }
           }</script>
        <!-- End of script -->

        <div class="Vlt-sidenav__scroll">
            <ul class="Vlt-sidemenu Vlt-sidemenu--rounded">
                @*<li>
            <a href="" class="Vlt-sidemenu__link">
                <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-report"></use></svg>
                <span class="Vlt-sidemenu__label">Selected item</span>
            </a>
        </li>
        <li>
            <a class="Vlt-sidemenu__link" href="">
                <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-whisper"></use></svg>
                <span class="Vlt-sidemenu__label">Unselected first-level item</span>
            </a>
        </li>
        <li>
            <a class="Vlt-sidemenu__link Vlt-sidemenu__link--disabled" href="">
                <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-phone"></use></svg>
                <span class="Vlt-sidemenu__label">Disabled first-level item</span>
            </a>
        </li>*@
                <li role="separator"><h5 class="Vlt-sidemenu__title">Use Cases</h5></li>
                <li>
                    <p class="Vlt-sidemenu__trigger">
                        <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-merge-2"></use></svg>
                        <span class="Vlt-sidemenu__label">2FA</span>
                    </p>
                    <ul>
                        @*<li>
                    <a class="Vlt-sidemenu__link Vlt-sidemenu__link--disabled" href="">
                        <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-ambulance"></use></svg>
                        <span class="Vlt-sidemenu__label">A disabled page</span>
                    </a>
                </li>*@
                        <li>
                            <a class="Vlt-sidemenu__link" asp-action="index" asp-controller="registration">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Register a user with Verify API</span>
                            </a>
                            <a class="Vlt-sidemenu__link" href="http://2fa.nexmodemo.com/" target="_blank">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">2FA DIY with WhatsApp (external)</span>
                            </a>
                        </li>
                        @*<li>
                    <p class="Vlt-sidemenu__trigger"><svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-tag"></use></svg><span class="Vlt-sidemenu__label">Clickable branch</span></p>
                    <ul>
                        <li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-file-search"></use></svg><span class="Vlt-sidemenu__label">Oh more pages</span></a></li>
                        <li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-grid-two"></use></svg><span class="Vlt-sidemenu__label">And again</span></a></li>
                        <li><a class="Vlt-sidemenu__link" href=""><svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-cursor"></use></svg><span class="Vlt-sidemenu__label">And this is it</span></a></li>
                    </ul>
                </li>*@
                    </ul>
                </li>
                <li>
                    <p class="Vlt-sidemenu__trigger">
                        <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-merge-2"></use></svg>
                        <span class="Vlt-sidemenu__label">Messaging</span>
                    </p>
                    <ul>
                        <li>
                            <a class="Vlt-sidemenu__link" asp-action="index" asp-controller="messaging">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Send an SMS notification to a mobile number</span>
                            </a>
                        </li>
                        <li>
                            <a class="Vlt-sidemenu__link" asp-action="failover" asp-controller="messaging">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Send notification with failover from social channel to SMS to a mobile number</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="Vlt-sidemenu__trigger">
                        <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-merge-2"></use></svg>
                        <span class="Vlt-sidemenu__label">In-App Messaging (external)</span>
                    </p>
                    <ul>
                        <li>
                            <a class="Vlt-sidemenu__link" href="http://jon.nexmodemo.com/vstitchapp/index.html" target="_blank">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Nexmo Client JS SDK</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="Vlt-sidemenu__trigger">
                        <svg><use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-merge-2"></use></svg>
                        <span class="Vlt-sidemenu__label">Video (external)</span>
                    </p>
                    <ul>
                        <li>
                            <a class="Vlt-sidemenu__link" href="https://tokbox-reference-apps.herokuapp.com/login/telehealth" target="_blank">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Healthcare</span>
                            </a>
                            <a class="Vlt-sidemenu__link" href="https://tokbox-reference-apps.herokuapp.com/login/financial" target="_blank">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Finance</span>
                            </a>
                            <a class="Vlt-sidemenu__link" href="https://tokbox-reference-apps.herokuapp.com/login/education" target="_blank">
                                <svg>
                                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-clipboard-add">
                                    </use>
                                </svg>
                                <span class="Vlt-sidemenu__label">Education</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>

    <main class="Vlt-main Vlt-main--light">
        <header class="Vlt-sidenav__mobile Vlt-sidenav__mobile--light">
            <button id="Vlt-sidenav-mobile-trigger">
                <svg class="Vlt-sidenav__collapse__close">
                    <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-menu"></use>
                </svg>
            </button>
        </header>

        @RenderBody()

        <footer>
            <p>&copy; 2019 - Nexmo Ltd</p>
        </footer>
    </main>

    <!-- Replace the following paths with the path to your Volta package -->
    <script src="~/js/svgxuse.min.js"></script>
    <script src="~/js/volta.min.js"></script>


    <script>Volta.init(['menu', 'menuCollapse']);</script>

    <!-- This is only needed for code snippet so you can remove it if you don't need them -->
    <!-- If you do, you'll have to replace the following path with the path to your Volta package -->
    <script src="~/js/addons/prism.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>