<div class="Vlt-card Vlt-article">
    <h4>Status</h4>

    <div id="infoCallout">
        <h5>Success Info</h5>
        <div class="Vlt-callout Vlt-callout--good">
            <i></i>
            <div class="Vlt-callout__content">@ViewData["feedback"]</div>
        </div>
    </div>

    <div id="warningCallout">
        <h5>Warning Info</h5>
        <div class="Vlt-callout Vlt-callout--warning">
            <i></i>
            <div class="Vlt-callout__content">@ViewData["warning"]</div>
        </div>
    </div>

    <div id="errorCallout">
        <h5>Error Info</h5>
        <div class="Vlt-callout Vlt-callout--critical">
            <i></i>
            <div class="Vlt-callout__content">@ViewData["error"]</div>
        </div>
    </div>
</div>