
@{
    ViewData["Title"] = "Home";
}

<div class="Vlt-card Vlt-article">
    <div class="Vlt-grid">
        <div class="Vlt-col">
            <h2>
                Welcome to Nexmo's pre-sales team demos!
            </h2>
            <h3>
                What use case are you interested in?
            </h3>
        </div>
        <div class="Vlt-grid__separator"><!-- Empty line breaker --></div>
        <div class="Vlt-col">
            <div class="Vlt-box Vlt-box--clickable Vlt-box--shadow">
                <h4>
                    2FA
                </h4>
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h5>
                            <a asp-action="index" asp-controller="registration">Register a user with Verify API</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a asp-action="reset" asp-controller="registration">Password reset with Verify API</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a asp-action="transaction" asp-controller="registration">Transaction validation with Verify API</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a href="http://2fa.nexmodemo.com/" target="_blank">2FA DIY with WhatsApp (external)</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a class="Vlt-sidemenu__link--disabled" asp-action="soft" asp-controller="registration">Soft User Validation with Number Insight</a>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="Vlt-box Vlt-box--clickable Vlt-box--shadow">
                <h4>
                    Phone Number Validation
                </h4>
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h5>
                            <a asp-action="index" asp-controller="validation">Phone Number Validation</a>
                        </h5>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="Vlt-col">
            <div class="Vlt-box Vlt-box--clickable Vlt-box--shadow">
                <h4>
                    Messaging
                </h4>
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h5>
                            <a asp-action="index" asp-controller="messaging">Send a notification to a mobile number</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a class="Vlt-sidemenu__link--disabled" href="#">Send notification with failover from social channel to SMS to a mobile number</a>
                            @*<a asp-action="failover" asp-controller="messaging">Send notification with failover from social channel to SMS to a mobile number</a>*@
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="Vlt-box Vlt-box--clickable Vlt-box--shadow">
                <h4>
                    Video (external)
                </h4>
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h5>
                            <a href="https://tokbox-reference-apps.herokuapp.com/login/telehealth" target="_blank">Healthcare</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a href="https://tokbox-reference-apps.herokuapp.com/login/financial" target="_blank">Finance</a>
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <a href="https://tokbox-reference-apps.herokuapp.com/login/education" target="_blank">Education</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Vlt-col">
            <div class="Vlt-box Vlt-box--clickable Vlt-box--shadow">
                <h4>
                    In-App Messaging (external)
                </h4>
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h5>
                            <a href="http://jon.nexmodemo.com/vstitchapp/index.html" target="_blank">Nexmo Client JS SDK</a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
