
@{
    ViewData["Title"] = "Home Page";
}

<div class="Vlt-card Vlt-article">
    <div class="Vlt-grid">
        <div class="Vlt-col">
            <h2>
                Welcome to Nexmo's pre-sales team demos!
            </h2>
            <h3>
                What use case are you interested in?
            </h3>
        </div>
        <div class="Vlt-grid__separator"><!-- Empty line breaker --></div>
        <div class="Vlt-col">
            <div class="Vlt-card Vlt-article">
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h4>
                            2FA - User Registration
                        </h4>
                    </li>
                </ul>

                <a asp-action="index" asp-controller="registration">Verify user with Verify API</a>
            </div>
        </div>
        <div class="Vlt-col">
            <div class="Vlt-card Vlt-article">
                <ul class="Vlt-list Vlt-list--big-number">
                    <li>
                        <h4>
                            SMS - Notifications
                        </h4>
                    </li>
                </ul>

                <a asp-action="index" asp-controller="messaging">Send an SMS message to a mobile number</a>
            </div>
        </div>
    </div>
</div>
