<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/40a16b06-35f1-4ce2-a99f-44aafcaeacc8/resourceGroups/NexmoPseDemo/providers/Microsoft.Web/sites/NexmoPSEDemo</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://nexmopsedemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nexmopsedemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NexmoPSEDemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NexmoPSEDemo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>