@model RegistrationModel
@{
    ViewData["Title"] = "Registration with Verify API";
}

<div class="Vlt-card Vlt-article">
    <h3 class="Vlt-title--icon">
        <svg class="Vlt-teal">
            <use xlink:href="~/symbol/volta-icons.svg#Vlt-icon-rocket"></use>
        </svg>
        New User Registration
    </h3>

    <form method="post">
        <div class="Vlt-grid">
            <div class="Vlt-col">
                <div class="Vlt-card Vlt-article">
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="name">Full Name</label>
                        <div class="Vlt-input">
                            <input type="text" name="name" placeholder="Please enter your full name" />
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="pincode">Enter a PIN code</label>
                        <div class="Vlt-composite">
                            <div class="Vlt-input">
                                <input type="text" id="pin" name="pincode" placeholder="Please enter or generate a PIN code" />
                            </div>
                            <div class="Vlt-composite__append">
                                <button id="generate-pin" class="Vlt-btn Vlt-btn--primary" onclick="generatePin()">Generate PIN code</button>
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="type">Select the worfklow to use for this request</label>
                        <div class="Vlt-select">
                            <select id="select" name="workflow">
                                <option value="1">SMS-TTS-TTS (Default)</option>
                                <option value="2">SMS-SMS-TTS</option>
                                <option value="3">TTS-TTS</option>
                                <option value="4">SMS-SMS</option>
                                <option value="5">SMS-TTS</option>
                            </select>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="number">Phone Number</label>
                        <div class="Vlt-input">
                            <input type="text" name="number" placeholder="Please enter your phone number" />
                        </div>

                        <div class="Vlt-callout Vlt-callout--shoutout">
                            <i></i>
                            <div class="Vlt-callout__content">
                                Your phone number must be in the E.164 format
                                <br />
                                e.g. in the UK 447123123456
                            </div>
                        </div>
                    </div>
                    <div class="Vlt-form__element">
                        <div class="Vlt-input">
                            <input type="submit" value="Register" name="verifyAction" />
                        </div>
                        <input type="hidden" id="registrationStatus" value='@ViewData["RegistrationStatus"]' />
                    </div>
                </div>
            </div>
            <div id="pinCheckWindow" class="Vlt-col">
                <div class="Vlt-card Vlt-article">
                    <div class="Vlt-form__element">
                        <label class="Vlt-label" for="codeCheck">Please enter the code you received in the box below</label>
                        <div class="Vlt-input">
                            <input type="text" placeholder="Enter code here" name="pincodecheck" />
                        </div>
                        <input type="hidden" value='@ViewData["RequestId"]' name="requestId" />
                        <input type="hidden" value='@ViewData["Number"]' name="recipient" />
                        <input type="hidden" value='@ViewData["Model"]' name="model" />
                    </div>
                    <div class="Vlt-form__element">
                        <div class="Vlt-input">
                            <input type="submit" value="Check" name="verifyAction" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="Vlt-col">
                @{Html.RenderPartial("StatusView"); }
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="~/js/registration.js"></script>
